@import '../../sass/colors';
@import '../../sass/fonts';

.nav {
  font-family: $Poppins;
  padding: 2rem 0 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: $primary;

  &__logo {
    margin: 0 8rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 6rem;
    }

    &-text {
      display: flex;
      flex-direction: column;

      p:first-of-type {
        transform: translateY(10px);
        font-weight: $black;
        letter-spacing: 1px;
        font-size: $medium;
      }

      p:nth-of-type(2) {
        letter-spacing: 1px;
        font-size: $small;
        color: lighten($color: $primary, $amount: 30)
      }
    }
  }

  &__menu {
    margin-right: auto;
    margin-left: 6rem;
    height: 100%;

    &-list {
      height: 100%;
      display: flex;
      list-style: none;
      font-weight: $bold;
      font-size: $medium;

      &-item:first-of-type {
        margin-right: 3rem;
      }
    }
  }

  &__user-menu {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    &-item {
      height: 22px;
      margin-right: 3rem;
    }
  }
}

.announcement {
  font-family: $Josefin;
  background: $secondary;
  color: $light-text;
  padding: 0.6rem;
  display: flex;
  justify-content: space-around;

  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;

    h4 {
      font-size: 1.3rem;
      letter-spacing: 1px;
      font-weight: $bold;
    }

    p {
      font-size: $small;
      font-weight: $medium;
      border-bottom: 1px solid $light-text;
    }
  }
}
