@import '../../sass/colors';
@import '../../sass/fonts';

.nav {
  font-family: $Poppins;
  padding: 0 8rem 1rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: $primary;

  @media (max-width: 915px) {
    padding: 4rem 4rem 3rem 2rem;
  }

  @media (max-width: 615px) {
    padding: 2rem 2rem 1rem 2rem;
  }

  &__logo {
    margin: 0 auto;
    padding-top: 2rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 915px) {
      margin: 0 0 0 0;
      padding: 0;
    }

    @media (max-width: 800px) {
      margin: 0 0 0 0;
    }

    @media (max-width: 615px) {
      padding: 0;
    }

    img {
      height: 5rem;
      @media (max-width: 915px) {
        margin: 0 0 0 0;
        padding: 0;
      }

      @media (max-width: 615px) {
        height: 4rem;
      }
    }

    &-text {
      display: flex;
      align-items: center;
      margin-top: -0.5rem;

      p:first-of-type {
        margin-right: 5px;
        font-weight: $black;
        letter-spacing: 1px;
        font-size: $medium;

        @media (max-width: 615px) {
          font-size: $xsmall;
        }
      }

      p:nth-of-type(2) {
        letter-spacing: 1px;
        font-size: $small;
        color: lighten($color: $primary, $amount: 30);

        @media (max-width: 615px) {
          font-size: $xsmall;
        }
      }
    }
  }

  &__menu {
    @media (max-width: 915px) {
      display: none;
    }

    &-list {
      height: 100%;
      display: flex;
      list-style: none;
      font-family: $Raleway;
      font-weight: $black;
      font-size: $small;
      color: lighten($dark-text, 1);

      &-item:not(:first-of-type) {
        margin-left: 4rem;
      }
    }
  }

  &__user-menu {
    @media (max-width: 915px) {
      display: none;
    }

    display: flex;
    justify-content: center;
    height: 100%;

    &-item {
      height: 22px;
      margin-right: 3rem;
    }
  }

  &__mobile-menu {
    display: none;

    @media (max-width: 915px) {
      display: inline-block;

      img {
        transform: translateY(1rem);
        height: 3.5rem;
      }
    }

    @media (max-width: 615px) {
      img {
        transform: translateY(1rem);
        height: 3rem;
      }
    }
  }
}
