@import '../../sass/colors';
@import '../../sass/fonts';
@import '../../sass/utils';

.cart {
  display: block;
  visibility: visible;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  background: $light-bg;
  z-index: 4;
  transition: 0.1s;
}

.cart h1 {
  font-size: $small;
  font-weight: $bold;
}

.cart__top {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 4rem;
}

.cart__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__close-btn {
  position: absolute;
  top: 2.8rem;
  left: 2.8rem;
  height: 2.2rem;
  cursor: pointer;
  z-index: 7;
}

.cart__delivery-container {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cart__total-container {
  position: relative;
}

.cart__total {
  position: absolute;
  top: 1.4rem;
  left: 1.2rem;
}

.cart__total p {
  font-weight: $bold;
  font-size: $xsmall;
  color: $dark-text;
  transform: translateY(-1px);
}

.cart__icon {
  height: 3.2rem;
  margin-bottom: 5rem;
}

.cart__free-delivery {
  display: block;
  font-size: $xxsmall;
  font-weight: $bold;
}

.cart__progress-bar {
  height: 5px;
  width: 100%;
  background: #eee;
  border-radius: 4px;
  position: relative;
  margin-top: 1rem;
}

.cart__product-categories {
  font-family: $Montserrat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
  width: 80%;
  margin: 2rem auto;
  text-transform: uppercase;
}

.cart__product-btn {
  all: unset;
  padding: 1rem;
  font-size: $small;
  font-weight: $semiBold;
  border: 2px solid #ddd;
  text-align: center;
  cursor: pointer;
}
