@import "../../../sass/colors";
@import "../../../sass/fonts";
@import "../../../sass/utils";

.product-list-item {
  font-family: $Montserrat;
  border: 2px solid $light-text;
  padding: 1rem;
  &:hover {
    box-shadow: $boxShadow;
  }

  &__img-wrapper {
    overflow: hidden;

    & img {
      width: 40%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  &__main-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    cursor: pointer;
  }

  &__content-header {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__title,
  &__title:hover {
    font-weight: $bold;
    font-size: $small;
    margin-right: 1rem;
    cursor: pointer;
    color: $dark-text !important;
    text-decoration: none;
  }

  &__variant {
    font-size: $xsmall;
    text-transform: capitalize;
    display: block;
    margin-top: 1rem;
  }

  &__price {
    font-size: $xsmall;
    display: block;
    margin-top: 6rem;
  }

  &__variants {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    position: relative;
  }

  &__variant-img {
    width: 6rem;
    height: auto;
    margin-right: 1rem;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #ccc;
      cursor: pointer;
    }

    &--active {
      width: 6rem;
      height: auto;
      margin-right: 1rem;
      border: 1px solid #ccc;
    }
  }
}
