@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

// font sizes
$XXXL: 7rem;
$XXL: 5rem;
$XL: 3.4rem;
$large: 2.6rem;
$medium: 2rem;
$small: 1.6rem;
$xsmall: 1.4rem;
$xxsmall: 1.1rem;

// font families
$Montserrat: "Montserrat", sans-serif;

// font weights
$xblack: 900;
$black: 800;
$bold: 700;
$semiBold: 600;
$semiNormal: 500;
$normal: 400;
$light: 300;
$xlight: 200;
