// @import url("https://fonts.googleapis.com/css2?family=Works+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

// font sizes
$xlarge: 7rem;
$large: 4rem;
$medium: 2.6rem;
$small: 1.8rem;
$xsmall: 1.4rem;
$xxsmall: 1.2rem;

// font families
$Montserrat: "Work Sans", sans-serif;

// font weights
$xblack: 900;
$black: 800;
$bold: 700;
$semiBold: 600;
$semiNormal: 500;
$normal: 400;
$light: 300;
$xlight: 200;
