@import '../../sass/colors.scss';
@import '../../sass/fonts';
@import '../../sass/utils';

.signin {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.signin__container {
  margin-top: 4rem;
  padding: 6rem 6rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: 416px) {
    width: 100vw;
    padding: 0 1rem;
  }

  @media (max-width: 1200px) {
    width: 90vw;
    padding: 0 1rem;
  }
}

.signin__register {
  width: 100%;
  margin-bottom: 4rem;
}

.signin__register h1 {
  font-size: $large;
  font-weight: $bold;
  margin-bottom: 1rem;
}

.signin__register span {
  margin-right: 5px;
}

.signin__inputs {
  width: 100%;
}

.signin__input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.signin__input-container:last-of-type {
  margin-top: 3rem;
}

.signin__label {
  font-weight: $normal;
  font-size: $xsmall;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.signin__input {
  padding: 0 1rem;
  font-size: $xsmall;
  width: 100%;
  height: 4rem;
  border: 2px solid #eee;
}

.signin__feedback {
  position: absolute;
  bottom: -2rem;
}

.signin__submit-btn {
  border: none;
  box-sizing: border-box;
  align-self: flex-start;
  margin-top: 3rem;
  width: 100%;
  background: $dark-bg;
  color: $light-text;
  height: 5rem;
  text-align: center;
  font-weight: $semiBold;
  font-size: $xsmall;
  letter-spacing: 1px;
  cursor: pointer;
}

.signin__submit-btn img {
  height: 3rem;
}

.signin__forgot-password {
  margin-top: 1rem;
}

.signin__divider {
  height: 2px;
  width: 100%;
  border: none;
  background: #ddd;
  margin: 4rem 0;
}
