.product-list-page__sort-filter {
  display: flex;
  justify-content: flex-end;
  padding-right: 2.2rem;
}

.product-list-page {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1rem;
  padding: 0 6rem 6rem 5rem;
}
