.sort {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8.2rem;
}

.product-list-page {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1rem;
  padding: 0 6rem 6rem 5rem;
}
