@import "../../../sass/colors";
@import "../../../sass/fonts";
@import "../../../sass/utils";

.product-main {
  &__title {
    font-size: 3rem;
    font-weight: $bold;
    font-family: $Montserrat;
    color: #333;
  }

  &__rating {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    & a {
      cursor: pointer;
      font-size: $xsmall;
    }
  }

  &__star {
    height: 1.6rem;
    margin-right: 2px;
  }

  &__price {
    font-size: $small;
  }

  &__variants-container {
    margin-top: 3rem;
  }

  &__variants-container span:first-of-type,
  &__variant-sizes-container span {
    font-size: $xxsmall;
    font-weight: $semiBold;
    font-family: $Montserrat;
  }

  &__variants-container span:last-of-type {
    font-size: $xxsmall;
    font-weight: $semiNormal;
  }

  &__variants {
    display: flex;
    margin-top: 1rem;
  }

  &__variant {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border: 1px solid transparent;
    border-radius: 50%;
  }

  &__variant.active {
    border: 1px solid #bbb;
  }

  &__variant-color {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 2px;

    &--black {
      background: #333;
    }

    &--grey {
      background: #ccc;
    }

    &--blue {
      background: #1e3799;
    }

    &--teal {
      background: #008080;
    }

    &--brown {
      background: #964b00;
    }

    &--pink {
      background: #ffc0cb;
    }

    &--red {
      background: #ff0000;
    }

    &--white {
      background: #f0f0f0;
    }
  }

  &__variant-sizes-container {
    margin: 3rem 0;
  }

  &__variant-sizes {
    margin-top: 1rem;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
  }

  &__variant-size {
    height: 6rem;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem 1.8rem;
    border-radius: 2px;
    margin-right: 1rem;
    margin-bottom: 5px;
    font-size: $xxsmall;

    &--active:hover {
      background: #333;
      color: $light-text;
    }

    &--disabled {
      text-decoration: line-through;
    }
  }

  &__cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      font-size: $xxsmall;
      font-weight: $normal;
      font-family: $Montserrat;
    }
  }

  &__cart {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $semiNormal;

    &img {
      height: 3rem;
      margin-right: 0.5rem;
    }
  }

  &__add-to-cart-btn {
    font-family: $Montserrat;
    width: 100%;
    border: none;
    background: $dark-bg;
    color: $light-text;
    padding: 1rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: $semiBold;
    border: 2px solid $dark-bg;
    margin: 2rem 0 1rem 0;

    &.disabled {
      background: #ccc;
      border: 2px solid #ccc;

      &:hover {
        background: #ccc;
        border: 2px solid #ccc;
        color: $light-text;
      }
    }

    &:hover {
      color: #333;
      background: $light-bg;
    }
  }

  &__highlights-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    & h5 {
      font-weight: $bold;
    }
  }

  &__highlights {
    display: flex;
    margin-top: 2rem;
  }

  &__hightlight {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
      height: 5rem;
      margin-bottom: 0.5rem;
    }

    & p {
      text-align: center;
      width: 80%;
      font-size: $xxsmall;
    }
  }

  &__accordion-container {
    margin-top: 5rem;
  }
}
