@import "../../../../sass/colors";
@import "../../../../sass/fonts";

.variant-sizes {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  & h5 {
    margin: 1rem 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: 1px solid $dark-text;
    margin-right: 5px;
    margin-bottom: 5px;

    &:active {
      background: $dark-bg;
      color: $light-text;
      cursor: pointer;
    }

    &--active:hover {
      background: #222;
      color: $light-text;
      cursor: pointer;
    }

    &--disabled {
      text-decoration: line-through;
    }
  }
}
