@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/utils";

.review-card {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;

  &__name {
    display: flex;
    flex-direction: column;
    width: 33%;

    & span {
      font-weight: $semiNormal;
      font-size: $xsmall;
      margin-right: 1rem;

      &:first-of-type {
        font-weight: $black;
        font-size: $xsmall;
      }
    }
  }

  &__review {
    width: 33%;

    & h4 {
      font-size: $xsmall;
      font-weight: $black;
    }
  }

  &__stars {
    width: 33%;
  }

  &__star {
    height: 2rem;
    margin-right: 5px;
  }
}
