@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/utils";

.review-card {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;

  @media (max-width: 630px) {
    flex-direction: column;
    text-align: center;
  }

  &__name {
    display: flex;
    flex-direction: column;
    width: 33%;

    @media (max-width: 630px) {
      flex-direction: column-reverse;
      justify-content: center;
    }

    & span {
      font-weight: $semiNormal;
      font-size: $xsmall;
      margin-right: 1rem;

      &:first-of-type {
        font-weight: $black;
        font-size: $xxsmall;
        @media (max-width: 630px) {
          font-weight: $normal;
          margin-top: 6px;
        }
      }
    }
  }

  &__review {
    width: 33%;

    & h4 {
      font-size: $xsmall;
      font-weight: $black;
    }
  }

  &__stars {
    width: 33%;
  }

  &__star {
    height: 2rem;
    margin-right: 5px;

    @media (max-width: 630px) {
      height: 1rem;
    }
  }

  &__name,
  &__review,
  &__stars {
    @media (max-width: 630px) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
