@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/utils";

/////// OVERLAY

.dropdown__overlay {
  overflow: hidden;
  margin-top: 5rem;
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: rgba($color: $dark-bg, $alpha: 0.7);
  z-index: 1;
  transition: opacity 400ms;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

/////// DROPDOWN MENU

.nav-dropdown {
  display: flex;
  justify-content: space-evenly;
  padding: 6rem;
  height: auto;
  width: 100%;
  background: $light-bg;
  transform: translateY(-100rem);
  font-family: $Montserrat;
  position: fixed;
  top: 5rem;
  left: 0;
  z-index: 1;

  &__column {
    display: flex;
    flex-direction: column;
    color: $dark-text;
    margin-top: 1rem !important;

    & :first-child {
      color: inherit;
      font-size: $small;
      font-weight: $bold;
      margin-bottom: 3rem;
      text-decoration: none;
      cursor: pointer;
    }

    & :not(:first-child) {
      color: inherit;
      font-size: $xsmall;
      font-weight: $normal;
      margin-bottom: 2rem;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__collections {
    margin-top: 1rem;
    color: #333 !important;

    & div:not(:first-child) {
      margin-bottom: 1rem;
      position: relative;
      cursor: pointer;
    }

    & img {
      height: auto;
      width: 30rem;
      cursor: auto;
    }

    & a:not(:first-child) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: $semiBold;
      color: $light-text;
      font-size: $small;
      text-shadow: 0px 0px 20px black;
    }
  }

  &__collections-link:first-of-type {
    display: block;
    font-size: $small;
    font-weight: $bold;
    margin-bottom: 3rem;
    cursor: pointer;
    color: $dark-text;

    &:hover {
      text-decoration: none;
    }
  }
}

/////// Animations

.drop-enter-active {
  transform: translateY(0rem);
  transition: transform 200ms;
}

.drop-enter-done {
  transform: translateY(0);
}

.drop-exit {
  transform: translateY(0);
}

.drop-exit-active {
  transform: translateY(-100rem);
  transition: transform 1s;
}
