@import "../../sass/colors";
@import "../../sass/fonts";

.order-confirmation-page {
  height: 100%;
  max-width: 1200px;
  margin: 12rem auto;
  padding: 5rem;

  &__heading {
    & h1 {
      font-family: $Montserrat;
      font-weight: $bold;
      font-size: $large;
      color: $dark-text;
      margin-bottom: 4rem;
    }

    & h2 {
      font-family: $Montserrat;
      font-weight: $semiBold;
      font-size: 2.6rem;
      color: $dark-text;
      margin-bottom: 1rem;
    }

    & p {
      font-weight: $normal;
      font-size: 2rem;
      color: #444;
      padding-bottom: 3rem;
      border-bottom: 1px solid #ddd;
    }
  }

  &__order-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.6rem;
  }

  &__order-details-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &--card {
      transform: translateY(6px);
    }

    &-header {
      font-weight: $semiBold;
    }

    & img {
      margin-left: 2px;
      width: 3.8rem;
    }
  }

  &__line-items {
    margin-top: 2rem;
  }

  &__line-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 2rem 1rem;
  }

  &__line-item-details {
    margin-left: 6rem;
    margin-right: auto;

    & p:first-of-type {
      font-size: $small;
      font-weight: $semiBold;
      margin-bottom: 1rem !important;
    }

    & p:not(:first-of-type) {
      font-size: $xsmall;
      color: #666;
      margin-bottom: 5px !important;
    }
  }

  &__line-item-price {
    justify-self: flex-end;
    font-weight: $bold;
    font-size: $small;
  }

  &__line-item-image {
    & img {
      height: auto;
      width: 16rem;
    }
  }

  &__cost-details {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
  }

  &__costs {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: $small;
    color: #888;

    & div {
      margin-bottom: 1rem;
    }

    & div p:first-child {
      font-weight: $semiBold;
    }

    & div p:last-child {
      font-weight: $bold;
      color: #333;
    }
  }

  &__subtotal {
    display: flex;
    justify-content: space-between;
  }

  &__shipping {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem !important;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1.2rem 0;
  }

  &__confirmation-message {
    margin-top: 3rem;
    color: #333;
    & p {
      font-size: $small;
      font-weight: $semiBold;
    }

    & p:first-of-type {
      margin-bottom: 1rem !important;
      font-weight: $bold;
      font-size: $medium;
    }
  }
}
