.favourite {
  &__btn {
    all: unset;
    margin-right: 0.5rem;
    display: none;
    position: absolute;
    top: -13rem;
    right: 1rem;

    &:focus {
      outline: none;
    }

    &--active {
      display: block;
    }
  }

  &__img {
    height: 2rem;
    width: 2rem;
  }
}
