.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 400ms;
  padding: 2rem;

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & button {
      background: #fff;
      border: none;
      transition: all 0.2s;

      & img {
        height: 3.8rem;

        @media (max-width: 768px) {
          height: 3.2rem;
        }

        @media (max-width: 414px) {
          height: 2.2rem;
        }
      }

      &:hover {
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    padding: 2rem;
    height: 95vmin;
    width: 95vw;
    display: flex;
    flex-direction: column;
    background: #fff;
  }
}

.modal-animation-enter {
  opacity: 0;
}

.modal-animation-enter-active {
  opacity: 1;
}

.modal-animation-exit {
  opacity: 1;
}

.modal-animation-exit-active {
  opacity: 0;
}
