@import "../../sass/colors";
@import "../../sass/fonts";

.express-checkout {
  margin: 4rem 0;
  position: relative;

  & h2 {
    font-size: 1.4rem;
    font-weight: $semiBold;
    background: #fff;
    position: absolute;
    top: -1.8rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
  }

  &__btns {
    padding: 3rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
  }

  & button {
    background: #ffc439;
    border: none;
    padding: 1rem 4rem;
    border-radius: 4px;

    & img {
      width: 9rem;
    }
  }
}
