@import "../../sass/colors";
@import "../../sass/fonts";

.filter-categories {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  font-family: $Montserrat;

  &__path {
    position: relative;
    display: flex;
    color: $dark-text;
    font-size: $xsmall;
    margin-bottom: 4rem;
    font-weight: $semiNormal;

    & h3 {
      position: absolute;
      top: 4rem;
      left: 0;
      font-weight: $black;
    }

    & a {
      color: inherit;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-weight: $bold;
    }

    & a:first-of-type {
      margin-left: 0;
    }
  }

  &__home {
    height: 3rem;
    width: 4rem;
    transform: translateY(-7px);
    margin-right: 0.5rem;
  }

  &__link {
    margin-top: 1.2rem;
    font-size: $xsmall;
    color: $dark-text;
    font-weight: $semiNormal;

    &.active {
      color: $primary;
      font-weight: $bold;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
