@import '../../sass/colors';
@import '../../sass/fonts';
@import '../../sass/utils';

.menu-item {
  font-family: $Poppins;
  border: 2px solid $light-text;
  box-shadow: $boxShadow;
  cursor: pointer;
}

.menu-item__img-wrapper {
  overflow: hidden;
}

.menu-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.menu-item img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}

.menu-item__title {
  margin-top: 1rem;
  font-weight: $bold;
  font-size: $medium;
}
