@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/utils";

.menu-item {
  font-family: $Montserrat;
  border: 2px solid $light-text;
  box-shadow: $boxShadow;
  cursor: pointer;
  color: $dark-text;

  &:hover {
    text-decoration: none;
    color: $dark-text;
  }

  &__img-wrapper {
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-top: 1.5rem;
    font-weight: $bold;
    font-size: $normal;
  }
}
