@import './sass/colors';
@import './sass/fonts';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: $dark-text;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

p {
  margin: 0 !important;
}
