@import "../../../sass/colors";
@import "../../../sass/fonts";
@import "../../../sass/utils";

.cart-item {
  display: flex;
  height: auto;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;

  &__loading {
    height: 11.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-container {
    margin-right: 2rem;
  }

  &__img {
    width: 10rem;
    height: auto;
  }

  &__content {
    width: 100%;
    font-size: $xxsmall;
    font-weight: $semiNormal;
    color: $medium-text;
  }

  &__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content-header button {
    all: unset;

    &:hover > img {
      transform: rotate(90deg);
    }

    & img {
      transition: transform 0.2s;
    }
  }

  &__close-button {
    height: 1.1rem;
    width: 1.1rem;
  }

  &__name {
    font-weight: $bold;
    color: $dark-text;
    margin: 0;
  }

  &__qty-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__qty {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #ccc;

    & span {
      font-size: $xsmall;
    }
  }

  &__qty-btn {
    all: unset;
    font-size: 3.4rem;
    line-height: 3rem;
    color: #ccc;
    transform: translateY(-2px);

    &:first-of-type {
      font-size: 2.6rem;
    }

    &:hover {
      color: #333;
    }

    &:focus {
      outline: none;
    }

    &--disabled,
    &--disabled:hover {
      color: #eee;
    }
  }

  &__price {
    font-size: $xsmall;
  }

  &__low-stock-msg {
    display: block;
    margin-top: 1rem;
  }
}