@import "../../../sass/colors";
@import "../../../sass/fonts";
@import "../../../sass/utils";

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 400ms;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

/////// cart

.cart {
  display: flex;
  flex-direction: column;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(1000rem);
  height: 100%;
  padding-bottom: 14rem;
  z-index: 1000;
  width: 35%;

  &__top {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    flex-grow: 1;

    & h1 {
      font-size: $normal;
      font-weight: $bold;
    }
  }

  &__close-btn {
    position: absolute;
    top: 3.6rem;
    left: 2.8rem;
    height: 2.2rem;
    cursor: pointer;
    z-index: 7;
    transition: transform 0.2s;

    &:hover {
      transform: translateX(0.5rem);
    }
  }

  &__delivery-container {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__total-container {
    position: relative;
  }

  &__total {
    position: absolute;
    font-size: 1.4rem;
    font-weight: $semiNormal;

    &--sm {
      top: 8px;
      left: 1.1rem;
    }

    &--lg {
      top: 8px;
      left: 8px;
    }
  }

  &__icon {
    height: 3rem;
    margin-bottom: 5rem;
  }

  &__free-delivery {
    display: block;
    font-size: $xsmall;
    font-weight: $semiNormal;
  }

  &__progress-bar {
    height: 7px;
    width: 80%;
    background: #eee;
    border-radius: 4px;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;

    &-progress {
      position: absolute;
      height: 7px;
      border-radius: 4px;
      background: #00a86b;
      transition: all 0.2s;
    }
  }

  &__product-categories {
    font-family: $Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
    width: 80%;
    margin: 2rem auto;
    text-transform: uppercase;
  }

  &__product-btn {
    all: unset;
    padding: 1rem;
    font-size: $small;
    font-weight: $semiBold;
    border: 2px solid #ddd;
    text-align: center;
    cursor: pointer;
  }

  &__bottom {
    position: absolute;
    bottom: 10rem;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: space-between;
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    font-size: $xsmall;
    margin-bottom: 2rem;
    font-weight: $semiBold;
  }

  &__shipping-cost {
    display: flex;
    justify-content: space-between;
    font-size: $xsmall;
    font-weight: $semiBold;
  }

  &__checkout-btn {
    background: $dark-bg;
    color: $light-text;
    text-transform: uppercase;
    font-size: $small;
    letter-spacing: 2px;
    padding: 1.5rem;
    font-weight: $semiBold;
    border: none;
    margin-top: 4rem;

    &:focus {
      outline: none !important;
    }
  }
}

// Animations

.slide-enter-active {
  transform: translateX(0rem);
  transition: transform 200ms;
}

.slide-enter-done {
  transform: translateX(0);
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(1000rem);
  transition: transform 1s;
}
