@import '../../sass/colors';
@import '../../sass/fonts';

.slider {
  background: red;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: $Poppins;
    font-weight: $bold;
    color: $light-text;
    letter-spacing: 2px;
    font-size: $XL;
  }
}
