@import '../../sass/colors';
@import '../../sass/fonts';
@import '../../sass/utils';

.mobile-menu {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 200vh;
  visibility: visible;
  z-index: 4;
  background-color: $light-bg;
  transition: width 0.1s ease-in-out;
}

.mobile-menu__top-buttons {
  background: $light-bg;
  position: relative;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  padding: 3rem 4rem 1rem 4rem;
  justify-content: space-between;
}

.mobile-menu img {
  height: 2.8rem;
  cursor: pointer;

  @media (max-width: 768px) {
    height: 2.4rem;
  }

  @media (max-width: 460px) {
    height: 2rem;
  }
}

.mobile-menu__nav-logo img {
  height: 4rem;
}

.mobile-menu__user-btns img:last-of-type {
  margin-left: 4rem;

  @media (max-width: 460px) {
    margin-left: 2rem;
  }
}

.mobile-menu__content {
  height: 100vh;
  min-width: 100%;
}

.mobile-menu__links-container {
  width: 100%;
  display: flex;
}

.mobile-menu__links {
  font-size: $medium;
  font-weight: $semiBold;
  letter-spacing: 1px;
  list-style: none;
  min-width: 100%;
  transition: ease-in-out 0.1s;

  @media (max-width: 414px) {
    font-size: $small;
  }

  @media (max-width: 375px) {
    font-size: $small;
  }
}

.mobile-menu__links div {
  background: $light-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 3rem 4rem;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.mobile-menu__links img {
  height: 1.6rem;
}

.mobile-menu__dropdown-link.hide {
  z-index: -100;
  opacity: 0;
  transform: translateY(-1000%);
}

div.mobile-menu__dropdown-link {
  position: relative;
  z-index: -100;
  opacity: 1;
  padding-left: 13rem;
  transition: all 0.1s ease-in;

  @media (max-width: 768px) {
    padding-left: 7rem;
  }
}
