@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/utils";

.mobile-menu {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background-color: $light-bg;
  transform: translateX(100vw);
  transition: transform 200ms;

  & img {
    height: 2rem;
    cursor: pointer;

    @media (max-width: 460px) {
      height: 1.6rem;
    }
  }
}

img.mobile-menu__close-btn {
  height: 1.6rem;
}

.mobile-menu__top-buttons {
  background: $light-bg;
  position: relative;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  padding: 1rem 4rem 1rem 4rem;
  justify-content: space-between;
}

.mobile-menu__logo {
  & h1 {
    font-weight: $bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
  }
}

.mobile-menu__user-btns img:not(:last-of-type) {
  margin-right: 2rem;
}

.mobile-menu__content {
  height: 100vh;
  min-width: 100%;
}

.mobile-menu__links-container {
  width: 100%;
  display: flex;
}

.mobile-menu__links {
  font-size: $small;
  font-weight: $semiBold;
  letter-spacing: 1px;
  list-style: none;
  min-width: 100%;
  transition: ease-in-out 0.1s;

  @media (max-width: 414px) {
    font-size: $xsmall;
  }
}

.mobile-menu__links div {
  background: $light-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.mobile-menu__links img {
  height: 1.2rem;
}

.mobile-menu__dropdown-link.hide {
  display: none;
}

div.mobile-menu__dropdown-link {
  padding-left: 13rem;

  @media (max-width: 768px) {
    padding-left: 7rem;
    & a {
      color: #3d3d3d;
    }
  }
}

// CSSTransition Animations

.mobile-slideout-enter-active {
  transform: translateX(0rem);
}

.mobile-slideout-enter-done {
  transform: translateX(0);
}

.mobile-slideout-exit {
  transform: translateX(0);
}

.mobile-slideout-exit-active {
  transform: translateX(100vw);
}
